#questionbody {
    margin-bottom: 25px;
    border: 1px solid black;
}

#realworld {
    float: left;
}

/*#realworld img {
    width: 200px;
    height: 200px;
}

#idealized img {
    width: 200px;
    height: 200px;
}*/

#jsonconfig {
    border: 1px solid black;
}


/*#score_button_id {
    line-height: 30px;
    width: 200px;
    font-size: 18pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 0;
    right: 0;
}*/

/*#begin_button {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
}*/

input[type=radio] {
    margin-left: 15px;
    font-size: 18pt;
}